<div class="dropdown text-center">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    類別
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/">全部</a></li>
    <li><a class="dropdown-item" href="/search/1">家居物業</a></li>
    <li><a class="dropdown-item" href="/search/2">交通出行</a></li>
    <li><a class="dropdown-item" href="/search/3">休閒娛樂</a></li>
    <li><a class="dropdown-item" href="/search/4">餐飲食品</a></li>
    <li><a class="dropdown-item" href="/search/5">其他</a></li>
  </ul>
</div>

<div class="row mt-5">
  <div class="col-sm-4">
    <p>總金額：</p>
  </div>
  <div class="col-sm-8">
    <p class="fs-1">
      {{ totalAmount }}
    </p>
  </div>
</div>
<div class="div">
  {{#each expenses}}
  <div class="row">
    <div class="col-sm-6 row space-between">
      <div class="col-sm-6">
        <i class="{{this.CATEGORY}}"></i>
        <span>{{ this.name }}</span><br>
        <span>{{ this.date }}</span>
      </div>
    </div>
    <div class="col-sm-2">
      <span>{{ this.amount }}</span>
    </div>
    <div class="col-sm-4">
      <a href="/records/{{this._id}}/edit" class="btn btn-info">修改</a>
      <form action="/records/{{this._id}}?_method=DELETE" method="POST" class="btn">
        <button type="submit" class="btn btn-danger">刪除</button>
      </form>
    </div>
  </div>



  {{/each}}

</div>

<div class="mt-5">
  <a href="/records/new" class="btn btn-secondary">新增</a>
</div>