<div class="dropdown text-center mt-4">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Category
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/">全部</a></li>
    <li><a class="dropdown-item" href="/search/1">家居物業</a></li>
    <li><a class="dropdown-item" href="/search/2">交通出行</a></li>
    <li><a class="dropdown-item" href="/search/3">休閒娛樂</a></li>
    <li><a class="dropdown-item" href="/search/4">餐飲食品</a></li>
    <li><a class="dropdown-item" href="/search/5">其他</a></li>
  </ul>
</div>

<div class="row mt-5">
  <div class="col-sm-2 p-0">
    <p class="fs-4">總金額：</p>
  </div>
  <div class="col-sm-11 text-center">
    <h1 id="totalAmount" class="text-success">
      {{ totalAmount }}
    </h1>
  </div>
</div>
<div class="div" id="content">
  {{#each expenses}}
  <div class="row record-row">
    <div class="col-sm-5 row space-between">
      <div class="col-sm-4">
        <i class="{{this.CATEGORY}} text-info mt-3"></i>
      </div>
      <div class="col-sm-8 pt-3">
        <span class="record-name">{{ this.name }}</span><br>
        <span class="record-date">{{ this.date }}</span>
      </div>
    </div>
    <div class="col-sm-4 text-end  pt-3">
      <span class="record-amount">{{ this.amount }}</span>
    </div>
    <div class="col-sm-3 text-end pt-3">
      <a href="/records/{{this._id}}/edit" class="btn btn-info">修改</a>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-danger delete" data-bs-toggle="modal" data-bs-target="#exampleModal"
        data-id="{{this._id}}" data-name="{{this.name}}">
        刪除
      </button>
    </div>
  </div>

  {{/each}}

</div>

<div class="mt-5">
  <a href="/records/new" class="btn btn-secondary">新增</a>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">確定刪除？</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
        <form action="/records/{{this._id}}?_method=DELETE" method="POST" class="btn">
          <button type="submit" class="btn btn-danger">刪除</button>
        </form>
      </div>
    </div>
  </div>
</div>


{{!-- <form action="/records/{{this._id}}?_method=DELETE" method="POST" class="btn">
  <button type="submit" class="btn btn-danger">刪除</button>
</form> --}}